{% extends "base.html" %}
{% block content %}
  <h1>
    Task List
    <a class="btn btn-info" style="float: right;" href="{% url 'task:task-create' %}">Create task</a>
  </h1>
  <form action="" method="get">
    {{ search_form }}
    <input type="submit" class="btn btn-secondary">
  </form>
  <br>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Is completed?</th>
        <th>Tag</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a>
          </td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.is_completed }}</td>
          <td>
            {% for tag in task.tags.all %}
              <p>{{ tag }}</p>
            {% empty %}
              <p>No tag</p>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}

    </table>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}
