{% extends "base.html" %}

{% block content %}
  <h1>Task: {{ task.name }}</h1>
  <form action="" method="post">
      {% csrf_token %}
      {% if task.is_completed %}
        <button type="submit" name="task_not_done" class="btn btn-secondary">Change status</button>
      {% else %}
        <button type="submit" name="task_done" class="btn btn-secondary">Change status</button>
      {% endif %}
    </form>
  <div class="ml-3">
    <h3>Detail:</h3>
    <p>Description: {{ task.description }}</p>
    <p>Deadline: {{ task.deadline }}</p>
    <p>Is completed: {{ task.is_completed }}</p>
    <p>Task type: {{ task.task_type }}</p>
    <h4>Assignees:</h4>
    <form action="" method="post">
      {% csrf_token %}
      {% if request.user in task.assignees.all %}
        <button type="submit" name="remove" class="btn btn-danger">Delete me from this task</button>
      {% else %}
        <button type="submit" name="assign" class="btn btn-success">Assign me to this task</button>
      {% endif %}
    </form>
    {% for assignee in task.assignees.all %}
      <hr>
      <p class="text-muted">{{ assignee.last_name }} - {{ assignee.position }}</p>
    {% empty %}
      <p>No assignees!</p>
    {% endfor %}
    <h4>Tags:</h4>
    {% for tag in task.tags.all %}
      <hr>
      <p class="text-muted">{{ tag.name }}</p>
    {% empty %}
      <p>No tags!</p>
    {% endfor %}
  </div>
  <a class="btn btn-primary btn-lg" role="button" href="{% url 'task:task-update' task.id %}">Update</a>
  <a class="btn btn-danger btn-lg" role="button" href="{% url 'task:task-delete' task.id %}">Delete</a>
{% endblock %}
