{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <section class="mt-xxl-8" id="count-stats">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 z-index-5 border-radius-xl mx-auto blur shadow-blur">
          <h1 class="row justify-content-center">{{ object|yesno:"Update,Create"}} worker</h1>
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
