{% extends "base.html" %}
{% block content %}
  <h1>
    Worker List
    <a class="btn btn-info" style="float: right;" href="{% url 'task:worker-create' %}">Create worker</a>
  </h1>

  <br>
  {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Last name</th>
        <th>Position</th>
      </tr>
      {% for worker in worker_list %}
        <tr>
          <td>{{ worker.id }}</td>
          <td>
            <a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a>
          </td>
          <td>{{ worker.last_name }}</td>
          <td>{{ worker.position }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no workers.</p>
  {% endif %}
{% endblock %}
